@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');  

*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

.header{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


@media (min-width: 406px) and (max-width: 428px) {
  .content {
     width: 400px; 
  }
}
@media (min-width: 0px) and (max-width: 406px) {
  .content {
     width: 400px;
  }
}

/* readmade btn */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  overflow: visible;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  justify-items: center;
  line-height: 4px;
  padding: 12px 50px;
  
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
  
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}


/* scroll bar globally */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray black;
}
/* scroll bar globally */

