@import "tailwindcss";

.button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.5s;
}
.button:hover{
    box-shadow: rgba(243, 240, 240, 0.116) 0px 10px 50px;
}
    