@import "tailwindcss";

body {
  width: 100%;
  height: 100vh;
}
.header {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.m1header{
    box-shadow: rgba(250, 250, 250, 0.192) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.hidetoggle{
    display: none;
}
.m1Main {
  background-color: #111111;
}
.s1Main{
    background-color: white;
}
